html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background: #000;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

a-scene {
  display: block;
  height: 100vh;
  width: 100vw;
}
